<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9c5f6822d9.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{%url 'index'%}"><span style="color:gold">NUMER</span>[0]</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'index'%}">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_project' %}"><i class="fa-solid fa-plus"></i></a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'users'%}">Numerologers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>

      </ul>




  </nav>
  </div>
</body>

</html>